[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
risibot-discord = {file = ".", editable = true}
pytest = "*"
pytest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.11"
